/build
/bin/x64/lib
/bin/assets/*.mtl
*.mtl
/bin/lib
/bin/bin
/bin/conf
/bin/include
/bin/bass24/c/3dtest/makefile
/bin/exports
/.idea
/cmake-build-relwithdebinfo
/cmake-build-minsizerel
/cmake-build-release
/cmake-build-debug
/build_linux
/predefined
/scripts
/templates
/conf
/lastImportBuffer.txt
/*.frag
/*.vert
/*.ini
/bin/*.frag
/bin/*.vert
/bin/render_imgs
/*.comp
/SectionCode_ParseConfigs.txt
/bin/SectionCode_ParseConfigs.txt
/bin/debug
/bin/debug.log
/bin/imports
/res/appicon.aps
/bin_dev
/bin/LICENSE
/bin/NoodlesPlate_Msvc_x64.exe
/bin/SoundHisto.conf
/bin/VERSION
/bin/config.xml
/bin/imgui.ini
/bin/predefined/helpers/culling.conf
/bin/predefined/helpers/culling.glsl
/bin/predefined/helpers/space3d.conf
/bin/predefined/helpers/space3d.glsl
/bin/predefined/shaders/3dAxis.conf
/bin/predefined/shaders/3dAxis.glsl
/bin/predefined/shaders/3dGrid.conf
/bin/predefined/shaders/3dGrid.glsl
/bin/predefined/shaders/GizmoCulling.conf
/bin/predefined/shaders/GizmoCulling.glsl
/bin/predefined/shaders/mesh.conf
/bin/predefined/shaders/mesh.glsl
